html {
	color: #c8c8c8;
	font-size: 14px;
}

body {
	background-color: #1e1e1e;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1.65;
	margin: 1rem auto 1rem;
	max-width: 48rem;
	padding: 0rem 2rem;
}

a, a:visited {
	color: #b9b9ef;
}

a:hover,
a:focus,
a:active {
	color: #c4c4f3;
}

p {
	font-size: 1rem;
	margin-bottom: 1.3rem;
}

h1, h2, h3, h4 {
	margin: 1.414rem 0 .5rem;
	font-weight: inherit;
	line-height: 1.42;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
}

h1, h2 {
	border-bottom: 1px solid #474747;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 2.0rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1rem;
}

small {
	font-size: .7em;
}

table {
	border-collapse: collapse;
}

th {
	border-bottom: 1px #a8a8a8 solid;
	padding: 0px 4px 4px 4px;
	text-align: left;
}

td {
	border-top: 1px #5c5c5c solid;
	padding: 4px 8px;
}

hr {
	border-top: 1px;
    border-color: #4f4f4f;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
	max-width: 100%;
}

pre, code {
	font-family: Menlo, Monaco, "Courier New", monospace;
	overflow-x: auto;
}

pre {
	line-height: 1.25;
	background-color: #2d2d2d;
	border-radius: 4px;
	color: #dddddd;
	padding: .7rem 1rem;
}

blockquote {
	margin: 2px;
	background-color: #2c2c2d;
	border-radius: 3px;
	border-left: 4px solid #6a6a6a;
	padding-left: 1rem;
}

blockquote p {
	padding: 4px 4px 4px 0px;
}

p code {
	color: #dedede;
	background-color: #3e3e3e;
	border-radius: 4px;
	padding: 1px 4px;
	vertical-align: top;
}

.task-list-item {
	margin-left: -1.5rem;
	list-style: none;
}

.task-list-item-checkbox {
	margin-right: 8px;
}