html {
	color: #333333;
	font-size: 14px;
}

body {
	background-color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	line-height: 1.65;
	margin: 1rem auto 1rem;
	max-width: 48rem;
	padding: 0rem 2rem;
}

a, a:visited {
	color: #2980b9;
}

a:hover,
a:focus,
a:active {
	color: #3498db;
}

p {
	font-size: 1rem;
	margin-bottom: 1.3rem;
}

h1, h2, h3, h4 {
	margin: 1.414rem 0 .5rem;
	font-weight: inherit;
	line-height: 1.42;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0;
}

h1, h2 {
	border-bottom: 1px solid #333333;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 2.0rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1rem;
}

small {
	font-size: .7em;
}

table {
	border-collapse: collapse;
}

th {
	border-bottom: 1px #333333 solid;
	padding: 0px 4px 4px 4px;
	text-align: left;
}

td {
	border-top: 1px #ababab solid;
	padding: 4px 8px;
}

hr {
	border-top: 1px;
    border-color: #333333;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
	max-width: 100%;
}

pre, code {
	font-family: Menlo, Monaco, "Courier New", monospace;
	overflow-x: auto;
}

pre {
	line-height: 1.25;
	background-color: #e2e2e2;
	border-radius: 4px;
	color: #000000;
	padding: .7rem 1rem;
}

blockquote {
	margin: 2px;
	background-color: #e7e7e7;
	border-radius: 3px;
	border-left: 4px solid #b4b4b4;
	padding-left: 1rem;
}

blockquote p {
	padding: 4px 4px 4px 0px;
}

p code {
	color: #000000;
	background-color: #d0d0d0;
	border-radius: 4px;
	padding: 1px 4px;
	vertical-align: top;
}

.task-list-item {
	margin-left: -1.5rem;
	list-style: none;
}

.task-list-item-checkbox {
	margin-right: 8px;
}